.outerSvgHeader {
    display: flex;
    justify-content: flex-start;
    background: #c2b280;
}

.outerSvgHeader svg  {
    height: 6vh;
    fill: #1a130f;
}

#rrgTitleText {
    font-size: .75rem;
    font-stretch: ultra-condensed;
}

#emojiTitleText {
    font-size: .5rem;
}

/* iphone */
@media only screen and (max-width: 375px) {

    .outerSvgHeader svg  {
        height: 4vh;
    }
}
