.searched {
    float: left;
    text-align: center;
    padding-top: 6px;
    padding-left: 2px;
    background: #726870;
}

/* iphone */
@media only screen and (max-width: 375px) {

    .cBox {
        width: 58vw;
        /* background: orange; */
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: 0px;
    }

    .SearchInputBox {
        width: 54vw;
        height: 4vh;
    }

    .searched {
        padding-top: 2px;
        padding-left: 8px;
    }
}